In [18]:
#importing libraries
import pandas as pd

## How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [3]:
df = pd.read_csv("adult.data.csv")   
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

## What is the average age of men?

In [4]:
age_men = df.loc[df['sex'] == 'Male']['age'].mean()
average_age_men = round(age_men, 1)
average_age_men

39.4

## What is the percentage of people who have a Bachelor's degree?

In [ ]:
bachelors_count = df.loc[df['education'] == 'Bachelors'].count()[0]
total_count = df.count()[0]
percentage_bachelors = round(bachelors_count/total_count * 100,1)

## What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [5]:
#with (Bachelors, Masters, or Doctorate)
higher_education = df.loc[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')].count()[0]

# advanced education with salary >50K
adv_edu_rich = df.loc[(df['salary']=='>50K') & ((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))].count()[0]

#percentage of people with advanced education and salary > 50K
higher_education_rich = round(adv_edu_rich/higher_education * 100, 1)  #(46.5)
higher_education_rich

46.5

## What percentage of people without advanced education make more than 50K?

In [6]:
#without (Bachelors, Masters, or Doctorate)
lower_education = df.loc[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')].count()[0]

#without adv education but salary > 50K
low_edu_rich = df.loc[(df['salary']=='>50K') & ((df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate'))].count()[0]

#percentage without adv education but salary > 50K
lower_education_rich = round(low_edu_rich/lower_education * 100, 1)
lower_education_rich

17.4

## What is the minimum number of hours a person works per week (hours-per-week feature)?

In [7]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

## What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [8]:
#workers with minimum work hours i.e 1hr
num_min_workers = df[df['hours-per-week'] == min_work_hours] #will make a df with min work hours = 1

#workers who work for min hours with salary > 50K
num_min_workers_rich = num_min_workers[num_min_workers['salary'] == '>50K'].count()[0]

#percentage of workers who work for min hours with salary > 50K
rich_percentage = round(num_min_workers_rich/len(num_min_workers)*100, 1)
rich_percentage

10.0

## What country has the highest percentage of people that earn >50K?

In [9]:
#1. Find number of people in every country
no_of_people_in_countries = df['native-country'].value_counts()
  
#2. Find number of people with salary > 50K in every country
people_with_high_sal_in_countries = df[df['salary'] == '>50K']['native-country'].value_counts()

#3. Find % of people with salary > 50K in every country
countries_rich_people_percent = round(people_with_high_sal_in_countries/no_of_people_in_countries*100,1)

#4. Find the highest earning country  ('Iran')
highest_earning_country = countries_rich_people_percent.idxmax()
#highest_earning_country
  
#5. Highest percentage of people that earn >50K  (41.86)
highest_earning_country_percentage = round(countries_rich_people_percent.max(), 1)
highest_earning_country_percentage

41.9

## Identify the most popular occupation for those who earn >50K in India.

In [10]:
#1. Find number of people in India & of people with salary > 50K in India
rich_people_india = df[(df['native-country']=='India') & (df['salary'] == '>50K')]
  
#2. Find the most popular occupation for these people
occupations_of_rich_people_india = rich_people_india['occupation'].value_counts()
#occupations_of_rich_people_india
  
top_IN_occupation = occupations_of_rich_people_india.idxmax()
top_IN_occupation

'Prof-specialty'